
# Caches:
/download-cache

# Persistent user data:
/persist

# Upstream files that might change in future versions:
/multimc



# Misc temporary files
/sandbox.log




# Unsorted files (this section should be empy):
